:root {
  --font: -apple-system, '.SFNSText-Regular', '.SFNSDisplay-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  --background: #222;
  --color: #fff;
}
