.icon g {
  /* Explicitly reset */
  transform: rotate(0deg);
}

.spinner-icon {
  animation: rotator 2s linear infinite;
  transform-origin: 50% 50%;
}

.spinner-icon circle {
  stroke: currentColor;
  stroke-dasharray: 68;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 2s ease-in-out infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes dash {
 0% { stroke-dashoffset: 68; }
 50% {
   stroke-dashoffset: 17;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: 68;
   transform:rotate(450deg);
 }
}

